.content {
    padding:30px 40px;
    color:#555;
    font-size:14px;
}

.content-tweets {
    width: 30%;
    margin-right: 10%;
}
.content-tweets:last-child {
    margin: 0;
}

.content a:hover {
    text-decoration:underline;
}
.content .description {
    font-weight:300;
    color:#777;
    font-size:14px;
    line-height:23px;
    margin:0 0 40px;
}
.content .description a {
    color:#777;
    text-decoration:underline;
}
h1 {
    color:#111;
    font-size:36px;
    font-weight:500;
    letter-spacing: -2px;
    margin:0 0 5px;
    text-transform: uppercase;
}
h2 {
    color:#111;
    font-size:18px;
    line-height:20px;
    text-transform:capitalize;
    font-weight:500;
    letter-spacing: -1px;
    margin:40px 0 10px;
}
h2 a {
    color:#111;
    text-decoration:none;
}
h2 span  {
    letter-spacing: 0;
    line-height:20px;
    color:#777;
    font-weight:300;
    /*font-size:12px;*/
}


.content ul {
    margin:0 0 25px 25px;
    padding:0;
}
.content li {
    margin:0 5px;
    padding: 0;
}
.content li a {
    color:#555;
}
.content li a span {
    color: #aaa;
}

/* ---------------------------------- *\
    INSTAFEED
\* ---------------------------------- */
.instagram-list {
    height:150px;
    overflow:hidden;
    list-style:none;
}
.instagram-list a {
    margin:0 10px 10px 0;
    float:left;
    display: block;
    width: 150px;
    height: 150px;
    background-size: 150px;
}
.instagram-list a div {
    display: none;
    width: 130px;
    height: 130px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}
.instagram-list a:hover {
    text-decoration: none;
}
.instagram-list a:hover div {
    display: block;
}
.instagram-list a img {
    display:block;
    height:150px;
    width:150px;
}
